//
// BREAKPOINTS
//
$breakpoints: (
  xs: 0,
  sm: 361px,
  md: 861px,
  lg: 1040px,
  xl: 1280px,
) !default;

//
// CONTAINER
//
$container: (
  max-width: (
    xs: 100%,
    sm: 360px,
    md: 860px,
    lg: 1040px,
  ),
  padding: (
    xs: 0 20px,
    sm: 0 20px,
    md: 0 60px,
    lg: 0 20px,
  ),
) !default;

//
// BORDER-RADIUS
//
$borderRadiusExtraSmall: 3px !default;
$borderRadiusSmall: 6px !default;
$borderRadiusBase: 9px !default;
$borderRadiusMedium: 12px !default;
$borderRadiusLarge: 18px !default;
$borderRadiusExtraLarge: 26px !default;

//
// COLORS
//
$bgColorBase: #fff !default;
$bgColorBaseHover: #fcfcfc !default;
$bgColorBaseInverted: #1d1d1f !default;
$bgColorBaseInvertedHover: #323235 !default;
$bgColorLight: #f9f9f9 !default;
$bgColorInput: #f5f5f5 !default;
$bgColorPopover: #334 !default;

$colorBase: #1d1d1f !default;
$colorBaseHover: #323235 !default;
$colorBaseInverted: #fff !default;
$colorBaseInvertedHover: #fcfcfc !default;

$colorBrand: #25cfe8 !default;
$colorAccent: #ffb800 !default;
$colorSecondary: #06f !default;

$colorPrimary: #16bf54 !default;
$colorPrimaryHover: #00a83e !default;
$colorSecondaryHover: #005be3 !default;

$colorSystem: #534bc3 !default;
$colorSystemLight: #6c62fa !default;

$colorContentLightBlue: #b9f6ff !default;
$colorContentBlue: #92ebff !default;
$colorContentGreen: #7bfdbc !default;
$colorContentOrange: #ff8777 !default;
$colorContentPurple: #d1cef9 !default;
$colorContentYellow: #ffe079 !default;

$colorMinor: #e5e5e5 !default;
$colorMuted: #999 !default;

$colorError: #db525e !default;

$colorPlaceholder: #b5b5b5 !default;

//
// GRID
//
$gridGapBase: 2rem !default;

//
// TRANSITIONS
//
$transitionDurationFast: 0.1s !default;
$transitionDurationBase: 0.2s !default;
$transitionDurationSlow: 0.3s !default;

//
// TYPOGRAPHY
//
$fontSizeRoot: 62.5% !default;

// Font-family
// https://getbootstrap.com/docs/5.0/content/reboot/#native-font-stack
$fontFamilyNative: system-ui, -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans',
  'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !default;
$fontFamilyCustom: '_Graphik' !default;
$fontFamilyBase: $fontFamilyCustom, $fontFamilyNative !default;

// Font-weight
$fontWeights: (400, 500, 600, 700) !default;
$fontWeightLight: 400 !default;
$fontWeightBase: 500 !default;
$fontWeightMedium: 600 !default;
$fontWeightSolid: 700 !default;

// Line-height
$lineHeightSmall: (
  xs: 1.5,
  md: 1.45,
  lg: 1.45,
) !default;
$lineHeightBase: (
  xs: 1.5,
  md: 1.55,
  lg: 1.55,
) !default;
$lineHeightHeading: (
  xs: 1.24,
  md: 1.2,
  lg: 1.14,
) !default;

// Text
$textSmall: (
  font-size: (
    xs: 1.4rem,
    md: 1.8rem,
    lg: 1.8rem,
  ),
  line-height: $lineHeightSmall,
) !default;

$textBase: (
  font-size: (
    xs: 1.6rem,
    md: 2.2rem,
    lg: 2.2rem,
  ),
  line-height: $lineHeightBase,
) !default;
$textLarge: (
  font-size: (
    xs: 1.6rem,
    md: 2.4rem,
    lg: 2.4rem,
  ),
  line-height: $lineHeightBase,
) !default;

// Headings
$h1: (
  font-size: (
    xs: 2.9rem,
    md: 5.4rem,
    lg: 7.2rem,
  ),
  line-height: $lineHeightHeading,
) !default;

$h2: (
  font-size: (
    xs: 2.6rem,
    md: 5.4rem,
  ),
  line-height: $lineHeightHeading,
) !default;

$h3: (
  font-size: (
    xs: 2.3rem,
    md: 3.8rem,
  ),
  line-height: $lineHeightHeading,
) !default;

$h4: (
  font-size: (
    xs: 1.6rem,
    md: 2.6rem,
  ),
  line-height: $lineHeightBase,
) !default;

$h5: $textLarge !default;
$h6: $textBase !default;

//
// HELPERS
//
$progress: var(--progress, 0);
$scrollbarWidth: var(--scrollbar-width, 0px); // stylelint-disable-line length-zero-no-unit

//
// BLOCKS
//
// Header
$headerHeightCompact: 6.4rem !default;
$headerHeightBase: 7.2rem !default;
